* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #428c5d;
  color: white;
}

.top-nav .demo .code {
  font-size: 24px;
}

.top-nav .demo-button {
  background-color: purple;
  color: white;
}

.top-nav .code-button {
  background-color: orange;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
tr#heading {
  background: #428c5d;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  border-width: thin;
}

th {
  background-color: #f0f0f0;
}

td a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
}

td .demo-button {
  background-color: rgb(137, 9, 137);
  color: white;
}

td .demo-button:hover {
  background-color: #c62e2e
}

td .demo-button:active {
  background-color: #bda4bb;
  transform: translateY(4px);
}

td .code-button {
  background-color: orange;
  color: white;
}

td .code-button:hover {
  background-color: #11529c;
}

td .code-button:active {
  background-color: #11529c;
  transform: translateY(4px);
}

tr:nth-child(even) {
  background: #CCC
}

tr:nth-child(odd) {
  background: #FFF
}

