body{
    background-color: white;
}
.carousel-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .prev-btn,
  .next-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: relative;
  }
  
  .circles {
    display: flex;
  }
  
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aeaeae;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .circle.active {
    background-color: #000000be;
  }
  