/* set the grid size, cell size, and cell gap for the game board. */
:root {
  --grid-size: 4;
  --cell-size: 100px;
  --cell-gap: 10px;
}
body {
  margin: 0;
  font-size: 40px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.container {
  text-align: center;
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  margin-top: 80;
}
#warning-message {
  color: rgb(185, 0, 0);
text-shadow:2px 2px 2px #fff;}
p {
  text-align: center;
}

.level-button {
  display: inline-block;
  padding: 10px;
  width: 90px;
  margin: 20px;
  color: teal;
  font-weight: bold;
  background-color: #333;
}

.level-button:hover {
  box-shadow: 8px 8px #8c8c8c;
  transition: 0.3s;
  cursor: pointer;
}

.level-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* styles the game board container.  */
#container {
  display: grid;

  /* defines the number of columns and rows based on the --grid-size variable */
  grid-template-columns: repeat(var(--grid-size), var(--cell-size)); 
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #000000;
  gap: var(--cell-gap);
  padding: var(--cell-gap);
  position: relative;
}

#score-container {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: rgb(226, 159, 15);
  text-shadow: 3px 5px 7px rgb(28, 223, 184);
  font-weight: bold;
}

.cscore-text {
  margin: 15px;
  /* border: 5px solid snow; */
  border-style: outset;
  padding: 10px;
}
.hscore-text {
  margin: 15px;
  padding: 10px;
  border-style: inset;
}

.cell {
  background-color: #c0c0c0;
}

/* styles the individual tiles in the game board */
.tile {
  font-weight: bold;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

.obstacleBorder {
  box-sizing: border-box;
  border: 5px solid red;
}

h3 {
  color: white;
}

#play-again-btn {
  border: 4px solid #ffffff;
  background-color: #0d5e5e;
  border-radius: 70%;
  height: 40px;
  padding: 8px;
  color: #fff;
  transition: 0.5s;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  text-shadow: 7px 5px 7px rgb(28, 223, 70);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
