body {
  height: 100vh;
  /* margin: 0; */
  font-size: 40px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}
p {
  text-align: center;
}

#level1,
#level2,
#level3 {
  padding: 10px;
  width: 90px;
  margin: 20px;
  color: teal;
  font-weight: bold;
  background-color: #333;
}

button#level1:hover,
button#level2:hover,
button#level3:hover {
  box-shadow: 8px 8px #8c8c8c;
  transition: 0.3s;
  cursor: pointer;
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #000000;
  gap: var(--cell-gap);
  padding: var(--cell-gap);
  position: relative;
}

#score-container {
  text-align: center;
  margin-top: 20px;

}

#score-container p {
  margin: 5px;
}
.cell {
  background-color: #c0c0c0;
}
.tile {
  font-weight: bold;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

h3 {
  color: white;
}

#play-again-btn {
  border: 4px solid #ffffff;
  background-color: #0d5e5e;
  border-radius: 70%;
  height: 40px;
  padding: 8px;
  color: #fff;
  transition: 0.5s;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  text-shadow: 7px 5px 7px rgb(28, 223, 70);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
