* {
    margin: 0;
    padding: 0;
}

.rectangle1 {
    background-color: #f2f2f2;
    background-image: url("r2.png");
    background-size: cover;
    background-position: center;
  }
  

body {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    background-color: rgb(189, 202, 219);
}

nav {
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    flex-grow: 5;
    ;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    transition: color 0.3s ease;
    color: rgb(104, 104, 104);
}


.rectangle1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0px;
    background: linear-gradient(96.22deg, #043CAA -0.66%, rgba(4, 60, 170, 0.86) 44.05%, rgba(4, 60, 170, 0) 100%), url(r2.png);
}

.rectangle2 {
    position: absolute;
    bottom: 0px;
    right: 10px;
}
.rectangle2 img {
   
    width: 483px;
    height: 450px;
    object-fit:contain;
}


.title {
    position: absolute;
    width: 519px;
    height: 132px;
    left: 104px;
    top: 166px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 66px;
    color: #FFFFFF;
}

.desc {
    position: absolute;
    width: 504px;
    height: 50px;
    left: 104px;
    top: 321px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.login-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    width: 90px;
    cursor: pointer;
    margin-top: 5px;
}

.frame1 {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: 108px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame2 {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: 108px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame3 {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: 86px;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 21px;
    position: absolute;
    width: 476px;
    height: 45px;
    left: 104px;
    top: 415px;
}

.ikeja {
    width: 38px;
    height: 25px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #043CAA;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.vi {
    width: 16px;
    height: 25px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.lekki {
    width: 42px;
    height: 25px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame42 {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: 112px;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.frame5 {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: 107px;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.ajah {
    width: 37px;
    height: 25px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.search {
    background: white;
    color: black;
    position: absolute;
    width: 488px;
    height: 48px;
    bottom: 25px;
    left: 100px;
    display: flex;
    border-radius: 50px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.search .button{
    background: #1BC768;
    width: 30%;
    height: 48px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

.search .search_text{
    width: 60%;
    color: #7A7A7A;
    display: flex;
    align-items: center;
}
 
.search .mdi_search{
    color: #7A7A7A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.body h3{
    color: #043CAA;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.body img{
    display: block; 
    margin: 0 auto;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .left-content {
    flex: 1;
    text-align: left;
    margin-right: 20px;
  }
  
  .left-content h4 {
    margin-left: 200px;
    color: #043CAA;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .left-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .left-content ul li {
    margin-bottom: 5px;
    margin-left: 200px;
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .rounded-button {
    border-radius: 20px;
    background-color: #ffffff;
    color: #1BC768;
    padding: 10px 20px;
    border: 2px solid #1BC768;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 10px;
  }
  
  .right-content {
    flex: 1;
  }
  
  .right-content img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .clients {
    display: flex;
    align-items: center;
  }

  .clients img {
    margin-right: 20px;
  }

  .clients h2 {
    margin-bottom: 10px;
    margin-left: 220px;
    text-align: center;
  }

  .clients p {
    margin: 30px 20px 0px 240px;
    color: gray;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
  }

  .clients h6 {
    margin-top: 30px;
    margin-left: 240px;
    color: #043CAA;
    font-size: 20px;
  }
  

  .footer {
    background-color: #043CAA;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin-top: 100px;
  }
  
  .newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .newsletter p {
    margin-right: 10px;
  }
  
  .search_text {
    margin-right: 10px;
  }
  
  .button {
    background-color: white;
    color: green;
    border-radius:  20px 0 20px 10;
    border: none;
    padding: 5px 10px;
  cursor: pointer;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .company {
    align-self: flex-start;
    text-align: left;
    margin-right: 20px;
  }
  
  .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  
  .quick-links,
  .services,
  .social-media {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
  }
  
  .quick-links {
    margin-right: 20px;
  }
  
  .social-media {
    margin-left: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  
  